@use 'abstracts/' as *;


.design {
    width: 100%;
    background-color: $black;
    height: 250vh;
    padding: 10rem 0;
    overflow: hidden;
    color: $white;

    &__title {
        color: $design1;
        font-size: $title;
        font-weight: 800;
        letter-spacing: -.4rem;
        line-height: 6rem;

        text-transform: uppercase;
        text-align: center;

    }

    #title3 {
        color: $design3;
    }

    &__quote {
        color: $white;
        font-size: $button-font;
        text-align: center;
        margin-bottom: 5rem;
        
    
    }

    &__info {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 5rem;

        &__image {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 30rem;
                user-select: none;
            }
        }

        &__text {
            width: 50%;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 1.5rem;

            &_heading {
                font-size: $big-heading;
                line-height: 3rem;
                font-weight: 800;
                letter-spacing: -.07rem;
                margin-bottom: 3rem;
            }

            &_list{
                text-transform: uppercase;
                padding-left: 2rem;
                font-size: $regular2;
                margin-bottom: 2rem;
            }

            &_description {
                font-size: $regular;
                width: 95%;
                margin-bottom: 3rem;
            }

            &_price {
                font-size: $big-heading;
                font-weight: 800;
                letter-spacing: -.04rem;

            }

            .button-div {
                @include button-style;
                width: 22rem;
                height: 3.5rem;
                background-color: $design1;
                margin-top: 2.5rem;

                transition: all .3s;

                a {
                    @include button-text;
                    font-size: $button-font;
                    color: $black;
                    font-weight: 800;
                    text-transform: uppercase;

                    transition: all .3s;


                    &:hover {
                        color: $design1;
                    }
                }

                &:hover{
                    background-color: $black;
                    border: 2px solid $design1;
                }

                
            }

            .design3 {
                background-color: $design3;


                a {

                    &:hover {
                        color: $design3;
                    }
                }


                &:hover{
                    background-color: transparent;
                    border: 2px solid $design3;
                }
            }
        }
    }

    &__note {
        text-align: center;
        margin-top: 7rem;
        font-size: $regular2;
        font-weight: 100;
    }


}