@media (max-width:1025px) {
    html {
        font-size: 80%;
    }

    .welcome {
        height: 55vh;

        &__button {
            width: 250px;
            height: 48px;
        }
    }

    .carousel {
        height: 46vh;
    }


    .about_me {
        height: 110vh;
    }
    
    .banner {
        height: 30vh;
    }
}

@media (max-width: 855px) {
    html {
        font-size: 75%;
    }

    .welcome {
        height: 50vh;

        &__button {
            width: 250px;
            height: 48px;
        }
    }
    .carousel {
        height: 44vh;
    }

    .banner {
        height: 25vh;
    }
}


@media (max-width: 770px) {
    html {
        font-size: 65%;
    }

    .welcome {
        height: 45vh;

        &__button {
            width: 230px;
            height: 45px;
        }
    }

    .carousel {
        height: 38vh;
    }

    .about_me {
        height: 100vh;
        &__title {
            letter-spacing: -3px;
        }
        &__txt_div {
            &__button {
                width: 150px;
                height: 40px;
            }
        }
    }

    .banner {
        &__title {
            letter-spacing: -5px;
        }
    }
}


@media (max-width: 660px) {
    html {
        font-size: 60%;
    }

    .welcome {
        height: 40vh;

        &__button {
            width: 200px;
            height: 40px;
        }

        &__caption {
        letter-spacing: -4px;

        }
    }

    .carousel {
        height: 35vh;
    }
}


@media (max-width: 630px) {
    html {
        font-size: 50%;
    }

    .welcome {
        height: 33vh;

        &__button {
            width: 150px;
            height: 30px;
        }

        &__caption {
        letter-spacing: -2px;

        }
    }

    .carousel {
        height: 30vh;
    }

    .about_me {
        height: 75vh;
        &__title {
            letter-spacing: -2.5px;
        }
        &__txt_div {
            &__button {
                width: 120px;
                height: 30px;
            }
        }
    }
}

@media (max-width: 530px) {
    html {
        font-size: 40%;
    }

    .welcome {
        height: 27vh;

        &__button {
            width: 130px;
            height: 25px;
        }

        &__caption {
        letter-spacing: -2px;

        }
    }

    .carousel {
        height: 24vh;
    }

    .about_me {
        height: 65vh;
        &__title {
            letter-spacing: -2.5px;
        }
        &__txt_div {
            &__button {
                width: 98px;
                height: 25px;
            }
        }
    }

    .banner {
        height: 18vh;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 30%;
    }

    .welcome {
        height: 21vh;

        &__button {
            width: 100px;
            height: 20px;
        }

        &__caption {
        letter-spacing: -1px;

        }
    }

    .carousel {
        height: 18vh;
    }

    .about_me {
        height: 65vh;
        flex-direction: column;
        flex-wrap: nowrap;

        &__img_div {
            width: 100%;
            margin-bottom: 5rem;
        }

        &__title {
            margin-top: 1rem;

            letter-spacing: -2.5px;
            
        }
        &__txt_div {
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 2rem;

            &__caption {
                font-size: 5rem;
            }

            &__text {
                width: 80%;
                margin: 0 auto;
            }

            &__button {
                width: 70px;
                height: 20px;
                margin: 3rem auto;
            }
        }
    }

    .banner {
        height: 12vh;
        &__title{
            letter-spacing: -2px;
        }
    }
}


@media (max-width: 321px) {
    html {
        font-size: 25%;
    }

    .about_me {
        height: 50vh;
        flex-direction: column;
        flex-wrap: nowrap;

        &__img_div {
            width: 100%;
            margin-bottom: 5rem;
        }

        &__title {
            margin-top: 1rem;

            letter-spacing: -2.5px;
            
        }
        &__txt_div {
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 2rem;

            &__text {
                width: 80%;
                margin: 0 auto;
            }

            &__button {
                width: 70px;
                height: 20px;
                margin: 3rem auto;
            }
        }
    }
    
}